.clr-field {
    width: 100% !important;
}

.clr-field button {
    background-image: unset;
}

.square .clr-field button,
.circle .clr-field button {
    width: 1.375rem; /* 22px/16 */
    height: 1.375rem; /* 22px/16 */
    left: 0.3125rem; /* 5px/16 */
    top: 48% !important;
    right: auto;
    border-radius: 0.3125rem; /* 5px/16 */
}

.square .clr-field input,
.circle .clr-field input {
    padding-left: 2.25rem; /* 36px/16 */
}

.circle .clr-field button {
    border-radius: 50%;
}

.full .clr-field button {
    width: 100%;
    height: 100%;
    border-radius: 0.3125rem; /* 5px/16 */
}

.default .clr-field button {
    border-radius: 0 .5rem .5rem 0;
    scale: 1.05;
}
